{% extends 'base/base.html' %}
{% load static %}

{% block title %}Curso de Python e Django - Preview{% endblock title %}

{% block body %}

    <div class="row my-5 mb-5">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Lista de videos preview:</h1>
                <div class="list-group list-group-numbered">
                    {% for video in videos %}
                        <a href="{{ video.get_absolute_url }}" class="list-group-item list-group-item-action list-group-item-success">
                            {{ video.titulo | default:'Faltando título' }}
                        </a>
                        {% empty %}
                            <a href="#" class="list-group-item list-group-item-action list-group-item-danger">
                                Não foi encontrado nenhum video!
                            </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% include 'base/subscribe.html' %}

{% endblock body %}
