{% extends 'base/base.html' %}
{% load static %}

{% block title %}Curso de Python e Django - Preview{% endblock title %}

{% block body %}

    <div class="row my-5 mb-5">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>{{ video.titulo | default:'Faltando título' }}</h1>
            </div>
        </div>
    </div>

    <div class="row my-5 mb-5">
        <div class="col-md-12">
            <div class="">
                <div style="padding:56.25% 0 0 0;position:relative;">
                    <iframe src="https://player.vimeo.com/video/{{video.vimeo_id}}?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                            frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
                            style="position:absolute;top:0;left:0;width:100%;height:100%;"
                            title="{{ video.vimeo_titulo }}">
                    </iframe>
                </div>
                <script src="https://player.vimeo.com/api/player.js"></script>
            </div>
        </div>
    </div>

    {% include 'base/subscribe.html' %}

{% endblock body %}
